.time {
    text-align: center;
    padding: 2rem;
    background-color: #D9F7E9;

    h3 {
        font-size: 2rem;
        border-bottom: 4px solid #57c278;
        display: inline-block;
        padding-bottom: 0.5rem;
    }

    .colaboradores{
        display: flex;
        justify-content: space-around;
        margin: 32px;
        flex-wrap: wrap;
    }
}